---
import { getCollection, type CollectionEntry } from "astro:content";

import "../styles/global.css";
import FormattedDate from "../components/formatted-date.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ars Contextus</title>
	</head>
	<body>
		<nav class="relative bg-neutral-600 text-white uppercase tracking-wide">
			<ul class="container mx-auto px-8 py-2 flex items-center justify-between gap-4">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/posts">Posts</a>
				</li>
			</ul>
		</nav>
		<header class="relative border-b border-neutral-400">
			<div class="absolute inset-0 bg-pattern-architect opacity-50"></div>
			<div class="absolute inset-0 bg-linear-to-r from-neutral-100 to-transparent"></div>
			<div class="relative container mx-auto px-8 py-24">
				<div class="w-1/2">
					<h1 class="text-7xl font-bold">Ars Contextus</h1>
					<p class="mt-8 text-2xl text-neutral-700">Agents are changing the way we build software. But no one knows exactly how. These are some writings on the matter.</p>
				</div>
			</div>
		</header>
		<main>
			<div class="relative border-b border-neutral-200">
				<div class="absolute inset-0 bg-pattern-architect opacity-50"></div>
				<div class="absolute inset-0 bg-linear-to-r from-neutral-200 to-transparent"></div>
				<div class="relative container mx-auto px-8 py-8">
					<h2 class="text-3xl font-bold">Recent posts</h2>
				</div>
			</div>
			<section class="container mx-auto px-8 pt-12 py-24">
				<ul class="grid grid-cols-3 gap-8">
					{
						posts.map((post) => (
							<li class="h-full">
								<a href={`/blog/${post.id}/`} class="flex h-full overflow-hidden border border-neutral-200 shadow-sm hover:shadow-md hover:-translate-y-0.5 transition duration-150">
									<div class="flex-none w-1/5 bg-neutral-600"></div>
									<div class="flex flex-col justify-between">
										<div class="p-4">
											<h4 class="text-2xl font-bold">{post.data.title}</h4>
											<div class="mt-1 text-neutral-700">
												<FormattedDate date={post.data.publishedDate} />
											</div>
											<p class="mt-4 text-neutral-700 text-lg">{post.data.description}</p>
										</div>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<footer>
			<div class="relative border-t border-neutral-200">
				<div class="absolute inset-0 bg-pattern-architect opacity-50"></div>
				<div class="absolute inset-0 bg-linear-to-r from-transparent via-neutral-100 to-transparent"></div>
				<div class="relative container mx-auto px-8 py-8 text-center">
					<p class="text-neutral-700">© 2026 Ars Contextus. All rights reserved.</p>
				</div>
			</div>
		</footer>
	</body>
</html>
